@charset "UTF-8";

:root {
    font-size: 15px;
    font-family: "Zen Old Mincho", serif;
    line-height: 25px;
    background-color: #f4f4f4;
}

* {
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.6666667rem;
}

a {
    color: black;
    text-decoration: none;
}

p {
    font-family: "Noto Serif JP", serif;
    font-weight: 400;
    font-style: normal;
}

/* header */

header {
    top: 0;
    width: 100%;
    overflow: hidden;
    position: fixed;
    background: white;
    padding: 15px 20px 10px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: #f4f4f4;
}

#header-books {
    position: static;
}

/* header navigations */

.header-nav ul {
    padding: 7px 20px 0 30px;
}

.header-nav li {
    padding: 0 10px;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-family: "Zen Old Mincho", serif;
    font-weight: 400;
    font-style: normal;
}

.header-nav-link {
    font-size: 18px;
    padding: 7.5px 15px;
}

/* header search bar */

.search{
    width: 280px;
    display: flex;
    margin: 0 30px 0 35px;
}

.search-term{
    width: 100%;
    max-width: 350px;
    border: 1px solid black;
    border-right: none;
    padding: 5px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: white;
}

.search-term:focus{
    color: black;
}

.search-button {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    background: white;
    text-align: center;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

/* header account and shopping cart */

.header-nav-link {
    margin: 7px 20px 0 15px;
    padding: 0;
}

/* main image */

#main-image {
    margin-top: 117px;
}

#main-image img {
    width: 100%;
}

/* container */
.container {
    width: 85%;
    max-width: 1280px;
    margin: 0 auto;
}

/* our purpose */

#introduction {
    margin: 70px auto;
}

.introduction-title{
    text-align: center;
    font-family: "Zen Old Mincho", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2rem;
}

.introduction-content {
    font-family: "Zen Old Mincho", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.4rem;
    margin: 20px;
    padding: 0 100px;
}

.introduction-content-otherbooks {
    text-align: center;
    font-family: "Zen Old Mincho", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.4rem;
    margin: 20px;
    padding: 0 100px;
}

.link-style {
    color: blue;
    text-decoration: underline;
}

/* bestsellers */

#bestsellers {
    margin: 30px auto 100px auto;
}

.headline {
    font-size: 2rem;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: "Zen Old Mincho", serif;
    font-weight: 600;
    font-style: normal;
    margin: 0 0 30px 10px;
    text-align: center;
}

.items-grid {
    display: flex;
    overflow-x: scroll;
}

.items {
    margin: 5px 30px 10px 5px;
    max-width: 200px;
    display: flex;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.16), 0 2px 5px 0 rgba(0,0,0,.26);
    background-color: white;
}

.items img {
    max-width: 200px;
    display: block;
    border-radius: 5px 5px 0 0;
}

.items-description {
    display: block;
    border-radius: 0 0 5px 5px; 
    padding: 10px;
}

.items-description-title{
    width: 180px;
    height: 50px;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
}

.items-description-reviews {
    margin-top: 3px;
    font-size: 0.9rem;
}

.items-description-price {
    display: flex;
    font-family: 'Open Sans', sans-serif;
}

.from {
    font-size: 1.1rem;
}

.price {
    margin-left: 0.7rem;
    color: #a31023;
}

/* book-list */
.book-list-genre {
    font-family: "Zen Old Mincho", serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
}

#book-list {
    margin: 40px auto;
    padding: 0 10%;
}

.book-list-frame {
    background-color: white;
    margin: 12px 0px;
    padding: 20px;
    display: flex;
    align-items: center; /* Vertically center the content */
    border-radius: 5px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.16), 0 2px 5px 0 rgba(0,0,0,.26);;
}

.book-list-content {
    display: flex;
    align-items: center; /* Vertically center the content */
}

.book-list-img {
    width: auto; /* Adjust the width as needed */
    height: 250px; /* Adjust the height as needed */
    margin-right: 20px; /* Adjust the margin as needed */
}

.book-list-info {
    flex: 1; /* Take remaining space */
}

.book-list-info-title {
    margin: 10px;
    text-align: center;
}

.book-list-info-writer {
    text-align: right;
}

.book-list-info-difficulty {
    text-align: right;
}

.book-list-info-link {
    text-align: right;
}

.book-list-info-link-aozora {
    color: blue;
    text-decoration: underline;
}

.book-list-info-description{
    margin-top: 5px;
}

.book-list-info-description-headline {
    text-align: left;
}

.book-list-info-description-sentence {
    margin-top: 4px;
    text-align: left;
}

.book-list-info-copy {
    font-size: 10px;
    text-align: right;
    margin: 10px 15px 0px 0px;
}

/* announcement */

.announcement-grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
}

.announcement-left img {
    width: 100%;
}

.announcement-right img {
    width: 100%;
}

/* footer */

#footer {
    margin-top: 100px;
    background-color: rgb(194, 194, 194);
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.footer-content {
    display: flex;
    padding: 70px;
}

.footer-links {
    display: block;
    margin-right: 4rem;
}

.footer-links-section {
    vertical-align: top;
    display: inline-block;
}

.footer-links-half {
    vertical-align: top;
    margin: 1rem;
    padding-right: 3rem;
    display: inline-block;
}

.footer-links-half h3{
    margin-bottom: 0.6rem;
}

.footer-links-half li {
    margin-bottom: 0.2rem;
}

.footer-links-half ul {
    padding: 0;
}

.footer-sidebar {
    margin-top: 1rem;
    padding-left: 2rem;
    border-left: 1px solid rgba(0,0,0,.25);
}

.footer-sidebar img {
    margin: 20px 12px 0;
    height: 30px;
}

/* colophon content */

.colophon-content {
    background-color: rgb(170, 170, 170);
    text-align: center;
    padding-top: 0.4rem;
}

.colophon-links a {
    margin: 0.5rem;
}